* {
  line-height: 1.3rem;
  margin: 0;
  padding: 0;
  background-color: #111;
  color: #fff;
  text-align: center;
  font-family: "Bebas Neue", cursive;
  overflow-y: hidden;
}

body {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

h1 {
  padding: 1.4rem 0;
}

#detail-main,
#detail-sub {
  margin-top: 5rem;
}

ul#games-list {
  list-style-type: none;
}

ul#games-list > li > img {
  height: 103px;
}

img.game-hero-img:hover {
  height: 220px;
  transition: 500ms;
}
